
input[type=text], input[type=password] ,input[type=number] ,input[type=date] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

input[name=username], input[name=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }    

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    }

.container {
    padding: 16px;
    }

.image {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.box {
    height: 50px; 
    width: 20%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin:auto;
    background-color: rgb(152, 184, 236);
    border: 2px solid black;
}

.header {
    height: 30px;
    width: 5%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 8px 8px;
    background-color: rgb(5, 99, 251);
    border: 1px solid #060d10;
    box-sizing: border-box;
}

.submitbtn {
    height: 50px;
    width: 7%;
    background-color: rgb(5, 99, 251);
    border: 1px solid #060d10;
    box-sizing: border-box;  
}

.invalid{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin:auto;
}

.table{
    height: 50px;  
    width: 20%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin:auto;
}

th, td {
    text-align: center;
    border: 2px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

